<p>Наши контакты</p>

<%= form_for :contact, url: contacts_path do |f| %>
  <% if @contact && @contact.errors.any? %>
    <p>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
  
  <div>

    <%= f.label :email %></br>  
    <%= f.text_field :email %>
    
  </div><br>
 
  <div>

    <%= f.label :message %> </br>
    <%= f.text_area :message %>
    
  </div>

  <p><%= f.submit 'Отправить' %></p>

<% end %>